mlx-lm>=0.19.0; sys_platform == 'darwin'
torch>=2.0.0
transformers>=4.46.0
accelerate
pyaudio>0.2.13
mlx-whisper>=0.3.0; sys_platform == 'darwin'
openai-whisper; sys_platform != 'darwin'
noisereduce>=2.0.1
psutil
melotts==0.1.2
